body {
  padding: 0;
  margin: 0;
}

section#preload {
  display: none;
}

section#main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
  & fieldset {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  & canvas {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url(./assets/textures/grass/Grass_01.png);
    background-position: center;
  }
}